* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    font-family: sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: beige;
    color: darkblue;
}
h1, h2, h3 {
    color: darkred;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
h4, h5, h6 {
    color: red;
    margin-bottom: 8px;
    margin-top: 15px;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: semi-bold;
    fill: azure;
}
p {
    margin-bottom: 15px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.8;
    color: deepskyblue;
    font-size: 16px;
    font-weight: normal;
    font-family: "Apple SD Gothic Neo";
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}